.winfin__calculate{
    width: 70%;
    color:#000;
    padding: 30px 15px 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
}

.winfin__calculate-caption{
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom:50px;
}

.winfin__calculate-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.variables{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.variables-title{
    font-size: 18px;
    margin: 5px 0;
    opacity: .8;
}

.variables__list{
    border: 1px solid rgba(0,0,0,.5);
    padding: 10px 15px;
    text-align: left;
    font-size: 17px;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
}

.variables__list-item{
    font-size: 17px;
    font-weight: 400;
    color:rgba(0,0,0,.5);
}

.list-materials{
    box-shadow: 0px 0px 10px rgba(0,0,0,.6);
    color:#64892e;
}

.list-window{
    color:rgba(0,0,0,.5);
}

.tree-type{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px 0;
}

.tree-type__item{
    text-align: center;
    margin:0 auto;
    display: flex;
    align-items: center;
}

.tree-type__item-desc{
    font-size: 14px;
    color: rgba(0,0,0,.7);
    font-weight: 400;
    transition: all .3s ease;
    cursor: pointer;
    user-select: none;
}

.tree-type__item-input + .tree-type__item-picture{
    cursor: pointer;
    padding: 2px;
    border:1px solid transparent;
    border-radius: 100%;
    transition: all .3s ease;
}

.tree-type__item-input:checked + .tree-type__item-picture{    
border:1px solid #668a30;
}

// .tree-type__item-input:checked + .tree-type__item-picture > .tree-type__item-desc{    
//     color: royalblue;
// }

.text-orange{
    margin: 10px 0;
    color:#f29700;
}

.additional{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.additional__item{
    margin-right: 25px;
    position: relative;
}

.additional__item-input{
    display: none;
}
.additional__item-desc{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgba(0,0,0,.8);
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 15px;
}
.input-checked{
    display: inline-block;
    width: 25px;
    height: 25px;
    border:1px solid rgba(0,0,0,.3);
    margin-right: 5px;
    position: relative;
    padding: 0 0 0 2px;
}

.input-checked::before{
    content: '\1F5F8';
    font-size: 25px;
    position: absolute;
    display: none;
}

.additional__item-input:checked + .input-checked::before{
    display: block;
}

.winfin__calculate__button-submit{
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    color:#fff;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #64892e;
    background-color: #64892e;
    box-shadow: 0px 5px 5px rgba(0,0,0,.3);
    border-radius: 10px;
    padding: 20px 70px;
    margin: 20px 0 40px;
    transition: all .3s ease;
    &:hover{
        color:#64892e;
        background-color: #fff;
    }
}

.construct{
    padding:0 15px 15px 45px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.construct-type{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 0;
}

.construct-type__item{
    margin: 0;
    padding: 0;
    position: relative;
}

.construct-type__item-content{
    cursor: pointer;
}

.picture--checked{
    position: absolute;
    right: -25%;
    top: -25%;
    display: none;
}

.construct-type__item-input:checked +.picture--checked{
    display: block;
}

.window-size{
    margin: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.window-size__picture{
    transform: translateX(8%);
}

.window-size__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.size-hight{
    position: absolute;
    left: 7%;
    top: 10%;
}

.size-width{
    flex-direction: row-reverse;
    padding: 5px 0px;
}

.window-size__data-value{
    width: 50px;
    padding: 3px;
}

.window-size__data-desc{
    font-weight: 400;
    font-size: 15px;
    opacity: .8;
    padding: 5px 7px;
}

.window-price{
    background-color: #f1f0f0;
    color:#000;
    width: 100%;
    padding: 20px 30px;
}

.window-price__title{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    padding: 0;
}

.window-price__value{
    font-size: 40px;
    font-weight: 700;
}

.window-price__desc{
    font-size: 14px;
    font-weight: 400;
    color: #7c7c7b;
    line-height: 18px; 
}
